@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .header-selection {
    @apply dark:bg-slate-800 bg-slate-200 font-bold;
  }

  .custom-shadow {
    @apply shadow dark:shadow-lg dark:shadow-cyan-500/10;
  }

  .menu-header {
    @apply min-w-[100px] py-5 flex justify-center hover:header.selection;
  }
  .menu-gallery {
    @apply items-center justify-center custom-shadow hover:bg-lime-900 bg-lime-500 px-5 py-2 rounded-md text-black my-5
  }
  .navbar {
    @apply flex justify-start items-center;
  }
  .navbar-menu {
    @apply list-none flex gap-10;
  }
  .navbar-item {
    @apply mr-10;
  }
  .navbar-link {
    @apply no-underline font-bold;
    
  }
  .navbar-link:hover {
    @apply text-blue-900;
  }

}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
